* {
    box-sizing: border-box;
}

:root {
    --primary-color:rgb(17, 147, 65);
    --secondary-color:rgb(243, 113, 7);
}

#head{
    display: flex;
    flex-direction:row ;
    justify-content: space-between; 
    padding: 20px 50px;
}

/* Main page styling    */
.main-page{
    text-align: center;
    padding: 20px 50px;
}
    
.main-page p{
    font-size: 20px;
    color: var(--primary-color);
    font-weight: bold;    
}

/*style for button*/
.btn{
    border: none;
    display: inline-block;
    padding: 10px 10px;
    background: var(--primary-color);
    font-size: 1.1rem;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 3px gray;
    margin-top: 20px;
    cursor: pointer;
    color: beige;
    }

    .btn:hover{
        background-color: var(--secondary-color) ;
    }

    /*style for questions section*/
.questions{

    color: var(--primary);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
/* double check */
.questions p{
    font-size: 30px;
    color: var(--primary-color);
    font-weight: bold; 
    width: 70%;
    color: black;
}

.btnq{
    border: none;
    width: 35%;
    padding: 10px 19px;
    background: var(--primary-color);
    font-size: 1.1rem;
    border-radius: 12px; 
    top: -3px;
    box-shadow: 0 4px rgb(231, 125, 4);
    cursor: pointer;
    text-align: center;
    color: beige;
}

.btnq:hover{
    background-color: var(--secondary-color) ;
}
